<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="cc.koumakan.gensokyo">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
